/* NAVBAR  */

*::selection {
    background-color: #d6d6d6;
}

.nav-head {
    display: flex;
    justify-content: end;
    font-family: 'Open Sans', sans-serif;
}

.para-font {
    font-family: 'Open Sans', sans-serif;
}

.heading-font {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:1024px) {
    .nav-head {
        justify-content: center;
    }
}

.nav_link_head {
    margin-right: 5px;
    padding: 2px 2px 2px 2px;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 0.325s;
    transition-timing-function: ease-in-out;
    font-weight: bold;
}

.nav_link_head:hover {
    color: #111218;
}


/* HERO SECTION  */

.hero-img {
    width: 450px;
}

.about-img{
    width: 450px;
}

.hero-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.hero-img-head {
    display: flex;
    justify-content: center;
}

.hero-heading {
    font-family: 'Montserrat', sans-serif;
}


/* SERVICES SECTION */

.service-card {
    border-radius: 12px;
    border: 0.1px solid #eee;
    transition-property: all;
    transition-duration: 0.325s;
    transition-timing-function: ease-in-out;
}

.service-card:hover {
    border: 0.1px solid #111218;
    cursor: pointer;
}


/* CONTACT US SECTION  */
.map-head{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
}

@media screen and (max-width: 768px) {
    .map-head{
        align-items: center !important;
    }   
}

.name-input, .email-input, .comp-name-input, .website-input, .message-input{
    outline: none !important;
    border-radius: 15px !important;
    border: 0.1rem solid rgb(216, 216, 216) !important;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out; 
}

.name-input:focus-within{
    border: 0.1rem solid #111218 !important;
}

.email-input:focus-within{
    border: 0.1rem solid #111218 !important;
}

.comp-name-input:focus-within{
    border: 0.1rem solid #111218 !important;
}

.website-input:focus-within{
    border: 0.1rem solid #111218 !important;
}

.message-input:focus-within{
    border: 0.1rem solid #111218 !important;
}

.contact-heading{
    padding-top: 5rem !important;
}

@media screen and (max-width: 768px) {
    .contact-heading{
        padding-top: 2rem !important;
    }   
}