{% load static %}


<!-- FOOTER SECTION  -->
<footer class="footer">

    <!-- COMPANY NAME AND OTHER LINKS  -->
    <div class="container mt-5">
        <div class="row text-white justify-content-center mt-3 pb-3 comp-name">

            <div class="col-12 col-sm-6 col-lg-6 mx-auto">
                <h5 class="text-capitalize fw-bold">Forecast For You Pvt Limited.</h5>
                <hr class="bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
                <p class="lh-lg fw-light">We are a Wheather Forecasting Agency Since 2000.<br> Providing Top notch wheather forecasting services to its customers.</p>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 mb-4 comp-name mx-auto">
                <h5 class="text-capitalize fw-bold">Products</h5>
                <hr class="bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
                <ul class="list-inline">
                    <li>
                        <a href="#" target="_blank">Wheather Prediction</a>
                    </li>
                    <li><a href="#" target="_blank">Wheather Station Setup</a></li>
                    <li>
                        <a href="#" target="_blank">Global Wheather News</a>
                    </li>
                    <li><a href="#" target="_blank">In depth Wheather Analysis</a></li>
                </ul>
            </div>


            <div class="col-12 col-sm-6 col-lg-3 mb-4 comp-name mx-auto">
                <h5 class="text-capitalize fw-bold">Contact</h5>
                <hr class="bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com" target="=_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com" target="=_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com" target="=_blank">LinkedIn</a></li>
                    <li><a href="https://www.slack.com" target="=_blank">Slack</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- COPYRIGHT PORTION OF FOOTER  -->
    <div class="footer-bottom pt-5 pb-5">
        <div class="container">
            <div class="row text-center text-white">
                <div class="col-12">
                    <div class="footer-copyright">
                        <p><span class="copy">&COPY; Copyright 2021</span> <span><a href="{% url 'application:index' %}" target="_blank">Forecast For You Pvt Limited
                                        </a></span> <span class="copy">| Created by</span> <span> <a href="https://www.linkedin.com/in/abdul-raffay-b6832320b/"
                                        target="_blank">Raffay</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>

<!-- BACK TO TOP BUTTON  -->
<a href="#" class="shadow btn rounded-circle back-to-top">
    <i class="fas fa-chevron-up"></i>
</a>