{% load static %}
<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body>
    <!-- NAVBAR  -->
    {% include 'navbar.html' %}


    <!-- SIGNP FORM  -->
    <!-- SIGN-UP FORM  -->
    <div style="margin-top: 7rem; margin-bottom: 5rem;" class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center hero-heading display-5 p-1 m-0">
            Sign Up
        </h1>
        <p style="font-size: 1.2rem;" class="para-font text-center pb-3">
            Sign-Up and Create your account now to be upto dated with the wheather around you.
        </p>
        <!-- create a new account -->
        <div style="border-radius: 12px; border: 0.1px solid #ececec;" class="sign-up-box p-5 shadow conatiner">
            <h3 class="pb-2 text-dark">Create your Account
            </h3>
            <form action="" method="POST" class="register-form outer-top-xs">
                {% csrf_token %}

                <div class="pb-3 form-group">
                    <label class="pb-1 info-title" for="exampleInputEmail1">Username<span>*</span></label>
                    <p>
                        {{ form.username }}
                    </p>
                </div>

                <div class="pb-3 form-group">
                    <label class="pb-1 info-title" for="exampleInputEmail1">Email<span>*</span></label>
                    <p>
                        {{ form.email }}
                    </p>
                </div>


                <div class="pb-3 form-group">
                    <label class="pb-1 info-title" for="exampleInputEmail1">First Name<span>*</span></label>
                    <p>
                        {{ form.first_name }}
                    </p>
                </div>


                <div class="pb-3 form-group">
                    <label class="pb-1 info-title" for="exampleInputEmail1">Last Name<span>*</span></label>
                    <p>
                        {{ form.last_name }}
                    </p>
                </div>


                <div class="pb-3 form-group">
                    <label class="pb-1 info-title" for="exampleInputEmail1">Password<span>*</span></label>
                    <p>
                        {{ form.password1 }}
                    </p>
                </div>

                <div class="pb-1 form-group">
                    <label class="pb-1 info-title" for="exampleInputEmail1">Confirm Password<span>*</span></label>
                    <p>
                        {{ form.password2 }}
                    </p>
                </div>

                <div class="container">
                    <p>
                        {{ form.errors }}
                    </p>
                </div>

                <!-- <div class="pb-1 form-group">
          <label class="info-title" for="exampleInputPassword1">Password
            <span>*</span></label>
          <input type="password" class="sign-in-inputs form-control unicase-form-control text-input"
            id="exampleInputPassword1" name="password">
        </div> -->

                <!-- <input type="hidden" name="next" value="{{ request.GET.next }}" /> -->
                <button style="border-radius: 5px;" type="submit" class="btn-upper btn btn-dark checkout-page-button">Sign-Up</button>
            </form>


        </div>

    </div>





    {% include 'footer.html' %}





















    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>